In [4]:
import numpy as np
import pandas as pd

In [19]:
Data=pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='Latin-1')

In [22]:
Data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [135]:
## Total sum of animal fat produced in 2014 and 2017
Y2014=Data.groupby('Item')['Y2014'].sum()['Animal fats']
Y2017=Data.groupby('Item')['Y2017'].sum()['Animal fats']
Y2017,Y2017

(269617.53, 269617.53)

In [32]:
## mean std and mean for the whole of 2015
Data['Y2015'].mean(),Data['Y2015'].std()

(135.23596649549236, 1603.4039839423301)

In [38]:
## total number of missing data in 2016
Data['Y2016'].isnull().sum()

1535

In [122]:
# Year with highest correlation with 'Element Code'
Data[['Element Code','Y2014','Y2015','Y2016','Y2017','Y2018']].corr()['Element Code'][1:].idxmax()

'Y2014'

In [132]:
# year of highest import quantity
highest_IQ=Data[['Element','Y2014','Y2015','Y2016','Y2017','Y2018']].groupby('Element').sum()
highest_IQ.loc['Import Quantity'].idxmax()

'Y2017'

In [134]:
# the total number of the sum of Production in 2014
Data.groupby('Element').sum()['Y2014']['Production']

1931287.75

In [57]:
# the element that had the highest sum in 2018
Data[['Y2018','Element']].groupby('Element').sum().idxmax()

Y2018    Domestic supply quantity
dtype: object

In [137]:
# The element that had the 3rd lowest sum in 2018
Data[['Y2018','Element']].groupby('Element').sum().sort_values(by='Y2018').iloc[2].name

'Protein supply quantity (g/capita/day)'

In [147]:
#the total Import Quantity in Algeria in 2018
Data.groupby(['Area','Element']).sum().loc['Algeria','Import Quantity']['Y2018']

36238.29

In [114]:
#the total number of unique countries in the dataset
len(Data['Area'].unique())

49